Index Page

<div id="todo-list">
  Your List belongs here.
</div>


<script type="text/javascript">
  var Main = Main || (function () {
    var self = {};

    self.renderTodoList = function (data) {
      console.log('Show the todo list here');
      console.dir(data);
    };

    Todo.getTodoList()
      .onStatus('OK', self.renderTodoList)
      .onStatus('NotAuthorized', EasyApi.redirectTo_('/login'))
      .run();

    return self;
  }());
</script>
